.idea/
Library/
Logs/
Packages/
Temp/
obj/
Assembly-CSharp.csproj
Builds/
Assets/PlayFabSDK.meta
Assets/PlayFabSDK
Assets/PlayFabEditorExtensions.meta
Assets/PlayFabEditorExtensions/
PlayFab.csproj
PlayFabSDKEditor.csproj
PlayFabEditorExtensions.csproj
LocalMultiplayerAgentPublish/